<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taobao.projectmanager.mapper.ProjectMapper">
 	
 	<select id = "findAllConsumptions" resultType="cn.taobao.projectmanager.pojo.Consumption">
 		select * from consumption
 	</select>
 	
</mapper>